In [19]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [20]:
companies = ["MSFT","GOOG","AAPL","ERIC","AMZN"]
start   = "2013-01-01"
end     = "2018-03-31"
d = data.DataReader(name=companies, data_source="iex", start=start, end=end)
t = pd.Panel.from_dict(d,orient="minor")

5y

d:\Anaconda3\envs\py3\lib\site-packages\ipykernel\__main__.py:5: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

In [21]:
type(t)

pandas.core.panel.Panel

In [22]:
t

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1241 (major_axis) x 5 (minor_axis)
Items axis: close to volume
Major_axis axis: 2013-04-26 to 2018-03-29
Minor_axis axis: MSFT to AMZN

In [23]:
t.items

Index(['close', 'high', 'low', 'open', 'volume'], dtype='object')

In [24]:
t.major_axis

Index(['2013-04-26', '2013-04-29', '2013-04-30', '2013-05-01', '2013-05-02',
       '2013-05-03', '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
       ...
       '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
       '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
      dtype='object', length=1241)

In [25]:
t.minor_axis

Index(['MSFT', 'GOOG', 'AAPL', 'ERIC', 'AMZN'], dtype='object')

In [26]:
t.axes

[Index(['close', 'high', 'low', 'open', 'volume'], dtype='object'),
 Index(['2013-04-26', '2013-04-29', '2013-04-30', '2013-05-01', '2013-05-02',
        '2013-05-03', '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
        ...
        '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
        '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
       dtype='object', length=1241),
 Index(['MSFT', 'GOOG', 'AAPL', 'ERIC', 'AMZN'], dtype='object')]

In [27]:
t.ndim

3

In [28]:
t.shape

(5, 1241, 5)

In [30]:
t.size

31025

In [32]:
t.values

array([[[2.79348000e+01,            nan, 5.42550000e+01, 1.08377000e+01,
         2.54810000e+02],
        [2.86554000e+01,            nan, 5.59345000e+01, 1.09359000e+01,
         2.49740000e+02],
        [2.90859000e+01,            nan, 5.75809000e+01, 1.09895000e+01,
         2.53810000e+02],
        ...,
        [8.94700000e+01, 1.00510000e+03, 1.68340000e+02, 6.23490000e+00,
         1.49705000e+03],
        [8.93900000e+01, 1.00456000e+03, 1.66480000e+02, 6.23490000e+00,
         1.43142000e+03],
        [9.12700000e+01, 1.03179000e+03, 1.67780000e+02, 6.27410000e+00,
         1.44734000e+03]],

       [[2.81017000e+01,            nan, 5.44584000e+01, 1.09359000e+01,
         2.72020000e+02],
        [2.87169000e+01,            nan, 5.63893000e+01, 1.09895000e+01,
         2.57010000e+02],
        [2.90947000e+01,            nan, 5.79021000e+01, 1.10787000e+01,
         2.54680000e+02],
        ...,
        [9.51390000e+01, 1.06484000e+03, 1.75150000e+02, 6.37700000e+00,
         1.57596000e+03],
        [9.12300000e+01, 1.02423000e+03, 1.70020000e+02, 6.31820000e+00,
         1.45590000e+03],
        [9.22900000e+01, 1.04300000e+03, 1.71750000e+02, 6.30350000e+00,
         1.45547000e+03]],

       [[2.76360000e+01,            nan, 5.30904000e+01, 1.08109000e+01,
         2.52810000e+02],
        [2.79172000e+01,            nan, 5.46185000e+01, 1.09270000e+01,
         2.49150000e+02],
        [2.83654000e+01,            nan, 5.61881000e+01, 1.09537000e+01,
         2.48560000e+02],
        ...,
        [8.85100000e+01, 9.96920000e+02, 1.66920000e+02, 6.20060000e+00,
         1.48232000e+03],
        [8.88730000e+01, 9.80640000e+02, 1.65190000e+02, 6.21530000e+00,
         1.38617000e+03],
        [8.84000000e+01, 1.00290000e+03, 1.66900000e+02, 6.14660000e+00,
         1.36520000e+03]],

       [[2.80315000e+01,            nan, 5.32933000e+01, 1.09270000e+01,
         2.69970000e+02],
        [2.79436000e+01,            nan, 5.46770000e+01, 1.09448000e+01,
         2.54900000e+02],
        [2.86114000e+01,            nan, 5.65821000e+01, 1.09895000e+01,
         2.49370100e+02],
        ...,
        [9.49400000e+01, 1.06300000e+03, 1.73680000e+02, 6.36230000e+00,
         1.57240000e+03],
        [8.98200000e+01, 9.98000000e+02, 1.67250000e+02, 6.27410000e+00,
         1.44700000e+03],
        [9.01800000e+01, 1.01163000e+03, 1.67805000e+02, 6.25450000e+00,
         1.40600000e+03]],

       [[4.77992840e+07,            nan, 1.91006032e+08, 3.64016300e+06,
         1.40292200e+07],
        [5.91162880e+07,            nan, 1.59958876e+08, 2.24614300e+06,
         7.11075000e+06],
        [7.51162710e+07,            nan, 1.72737600e+08, 2.94997900e+06,
         4.24879000e+06],
        ...,
        [5.65690110e+07, 3.09531500e+06, 4.09225790e+07, 2.08005400e+06,
         6.99963100e+06],
        [5.25011460e+07, 3.36927500e+06, 4.16685450e+07, 4.60718500e+06,
         1.37053170e+07],
        [4.58675480e+07, 2.72683000e+06, 3.83985050e+07, 3.10091000e+06,
         1.25811210e+07]]])

In [36]:
t["volume"].tail(3)

                  MSFT       GOOG        AAPL       ERIC        AMZN
2018-03-27  56569011.0  3095315.0  40922579.0  2080054.0   6999631.0
2018-03-28  52501146.0  3369275.0  41668545.0  4607185.0  13705317.0
2018-03-29  45867548.0  2726830.0  38398505.0  3100910.0  12581121.0

In [39]:
t.volume.tail(3)

                  MSFT       GOOG        AAPL       ERIC        AMZN
2018-03-27  56569011.0  3095315.0  40922579.0  2080054.0   6999631.0
2018-03-28  52501146.0  3369275.0  41668545.0  4607185.0  13705317.0
2018-03-29  45867548.0  2726830.0  38398505.0  3100910.0  12581121.0

In [45]:
t.loc["close", "2014-04-08", "GOOG"]

554.9

In [47]:
t.iloc[3,200,3]

11.2216

In [49]:
t.ix["high", 500, "ERIC"]

11.8962

### Converting Panel to Multiindex

In [50]:
t.to_frame()

                      close       high        low       open       volume
major      minor
2013-04-26 MSFT     27.9348    28.1017    27.6360    28.0315   47799284.0
           AAPL     54.2550    54.4584    53.0904    53.2933  191006032.0
           ERIC     10.8377    10.9359    10.8109    10.9270    3640163.0
           AMZN    254.8100   272.0200   252.8100   269.9700   14029220.0
2013-04-29 MSFT     28.6554    28.7169    27.9172    27.9436   59116288.0
           AAPL     55.9345    56.3893    54.6185    54.6770  159958876.0
           ERIC     10.9359    10.9895    10.9270    10.9448    2246143.0
           AMZN    249.7400   257.0100   249.1500   254.9000    7110750.0
2013-04-30 MSFT     29.0859    29.0947    28.3654    28.6114   75116271.0
           AAPL     57.5809    57.9021    56.1881    56.5821  172737600.0
           ERIC     10.9895    11.0787    10.9537    10.9895    2949979.0
           AMZN    253.8100   254.6800   248.5600   249.3701    4248790.0
2013-05-01 MSFT     28.7520    29.0684    28.6466    28.9365   54328805.0
           AAPL     57.1270    57.8604    56.4898    57.7993  126720237.0
           ERIC     11.0252    11.0743    10.9180    10.9805    5065404.0
           AMZN    248.2300   254.2000   245.7500   253.9000    4391302.0
2013-05-02 MSFT     29.1387    29.1474    28.4620    28.6729   46055944.0
           AAPL     57.9372    58.3364    57.3013    57.4508  105449078.0
           ERIC     10.8288    10.9314    10.7931    10.9002    3152743.0
           AMZN    252.5500   252.9300   245.7800   248.9400    3922605.0
2013-05-03 MSFT     29.4286    29.4550    29.0684    29.2002   46784484.0
           AAPL     58.5172    58.9398    58.4092    58.6901   90319201.0
           ERIC     10.8823    11.0430    10.8243    10.9627    3613960.0
           AMZN    258.0500   259.2500   254.7000   256.1400    3513934.0
2013-05-06 MSFT     29.6571    29.7977    29.2177    29.3671   40978078.0
           AAPL     59.9125    60.1063    59.0803    59.2623  124017747.0
           ERIC     10.9895    10.9895    10.8466    10.9002    4435637.0
           AMZN    255.7200   259.5000   253.4201   258.0900    2347669.0
2013-05-07 MSFT     29.2705    29.6922    29.2089    29.5692   42916453.0
           AAPL     59.6457    60.5680    59.0009    60.4665  120499960.0
...                     ...        ...        ...        ...          ...
2018-03-22 MSFT     89.7900    91.7500    89.6600    91.2650   38604715.0
           GOOG   1049.0800  1082.9000  1045.9100  1081.8800    2666964.0
           AAPL    168.8500   172.6800   168.6000   170.0000   41490767.0
           ERIC      6.2839     6.3966     6.2741     6.3231    3108053.0
           AMZN   1544.9200  1573.8500  1542.4000  1565.4700    6320551.0
2018-03-23 MSFT     87.1800    90.4600    87.0800    89.5000   44068949.0
           GOOG   1021.5700  1063.3600  1021.2200  1047.0300    2156672.0
           AAPL    164.9400   169.9200   164.9400   168.3900   41028784.0
           ERIC      6.2741     6.3966     6.2545     6.3721    4099330.0
           AMZN   1495.5600  1549.0200  1495.3600  1539.0100    8006033.0
2018-03-26 MSFT     93.7800    94.0000    90.4000    90.6100   56396780.0
           GOOG   1053.2100  1055.6300  1008.4000  1046.0000    2665131.0
           AAPL    172.7700   173.1000   166.4400   168.0700   37541236.0
           ERIC      6.3329     6.3623     6.1711     6.3427    4900332.0
           AMZN   1555.8600  1556.9900  1499.2500  1530.0000    5624700.0
2018-03-27 MSFT     89.4700    95.1390    88.5100    94.9400   56569011.0
           GOOG   1005.1000  1064.8400   996.9200  1063.0000    3095315.0
           AAPL    168.3400   175.1500   166.9200   173.6800   40922579.0
           ERIC      6.2349     6.3770     6.2006     6.3623    2080054.0
           AMZN   1497.0500  1575.9600  1482.3200  1572.4000    6999631.0
2018-03-28 MSFT     89.3900    91.2300    88.8730    89.8200   52501146.0
           GOOG   1004.5600  1024.2300   980.6400   998.0000    3369275.0
           AAPL    166.4800   170.0200   165.1900   167.2500   41668545.0
           ERIC      6.2349     6.3182     6.2153     6.2741    4607185.0
           AMZN   1431.4200  1455.9000  1386.1700  1447.0000   13705317.0
2018-03-29 MSFT     91.2700    92.2900    88.4000    90.1800   45867548.0
           GOOG   1031.7900  1043.0000  1002.9000  1011.6300    2726830.0
           AAPL    167.7800   171.7500   166.9000   167.8050   38398505.0
           ERIC      6.2741     6.3035     6.1466     6.2545    3100910.0
           AMZN   1447.3400  1455.4700  1365.2000  1406.0000   12581121.0

[5974 rows x 5 columns]

In [54]:
t.major_axis

Index(['2013-04-26', '2013-04-29', '2013-04-30', '2013-05-01', '2013-05-02',
       '2013-05-03', '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
       ...
       '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
       '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
      dtype='object', length=1241)

In [55]:
t.major_xs("2018-03-19")

         close       high       low       open      volume
MSFT    92.890    93.9000    92.110    93.7400  33344085.0
GOOG  1099.820  1121.9900  1089.010  1120.0100   2805937.0
AAPL   175.300   177.4700   173.660   177.3200  33446771.0
ERIC     6.529     6.5584     6.475     6.5388  10482989.0
AMZN  1544.930  1561.6600  1525.350  1554.5300   6580766.0

In [56]:
t.minor_axis

Index(['MSFT', 'GOOG', 'AAPL', 'ERIC', 'AMZN'], dtype='object')

In [57]:
t.minor_xs("MSFT")

              close     high      low     open      volume
2013-04-26  27.9348  28.1017  27.6360  28.0315  47799284.0
2013-04-29  28.6554  28.7169  27.9172  27.9436  59116288.0
2013-04-30  29.0859  29.0947  28.3654  28.6114  75116271.0
2013-05-01  28.7520  29.0684  28.6466  28.9365  54328805.0
2013-05-02  29.1387  29.1474  28.4620  28.6729  46055944.0
2013-05-03  29.4286  29.4550  29.0684  29.2002  46784484.0
2013-05-06  29.6571  29.7977  29.2177  29.3671  40978078.0
2013-05-07  29.2705  29.6922  29.2089  29.5692  42916453.0
2013-05-08  28.9893  29.2089  28.6905  29.0567  51643216.0
2013-05-09  28.6993  28.9981  28.6378  28.8662  46399199.0
2013-05-10  28.7256  28.7520  28.4005  28.7081  36394841.0
2013-05-13  29.0244  29.0596  28.6026  28.6554  36027027.0
2013-05-14  29.6704  29.6704  29.0244  29.0776  56867771.0
2013-05-15  29.9491  29.9978  29.5819  29.5996  46303779.0
2013-05-16  30.1571  30.2190  29.6881  29.7677  59381496.0
2013-05-17  30.8561  30.8561  30.1748  30.2014  60666467.0
2013-05-20  31.0420  31.0552  30.6880  30.7322  54020102.0
2013-05-21  30.8384  31.2123  30.7234  31.0597  48693429.0
2013-05-22  30.6261  30.8296  30.4048  30.7853  66043135.0
2013-05-23  30.2190  30.5730  29.9978  30.2898  51102326.0
2013-05-24  30.3243  30.3340  29.9978  30.0155  33174304.0
2013-05-28  30.9889  31.1304  30.4491  30.4579  48211220.0
2013-05-29  30.8650  30.9889  30.5907  30.7411  38411673.0
2013-05-30  30.9977  31.1924  30.8057  30.8384  51130805.0
2013-05-31  30.8827  31.2189  30.7853  30.8119  56162496.0
2013-06-03  31.4932  31.5286  30.8207  30.9004  51249396.0
2013-06-04  30.9623  31.6260  30.7685  31.5198  65529399.0
2013-06-05  30.7765  30.8738  30.4668  30.6172  46023857.0
2013-06-06  30.9358  31.0685  30.5199  30.8296  37617747.0
2013-06-07  31.5640  31.6614  31.0243  31.1924  40757245.0
...             ...      ...      ...      ...         ...
2018-02-15  92.6600  92.7200  90.6200  91.2100  27823866.0
2018-02-16  92.0000  93.5000  91.8000  92.4500  30596919.0
2018-02-20  92.7200  93.0600  91.0100  91.4750  30911725.0
2018-02-21  91.4900  93.3595  91.4900  92.9800  26922503.0
2018-02-22  91.7300  92.7300  91.3600  92.0500  24392753.0
2018-02-23  94.0600  94.0700  92.3600  92.7500  26329226.0
2018-02-26  95.4200  95.4500  94.2500  94.4000  30199846.0
2018-02-27  94.2000  95.8400  94.2000  95.7400  25869119.0
2018-02-28  93.7700  95.7050  93.6300  94.8400  31167338.0
2018-03-01  92.8500  94.5700  91.8400  93.9900  37135561.0
2018-03-02  93.0500  93.1500  90.8600  91.5800  32830389.0
2018-03-05  93.6400  94.2700  92.2600  92.3400  23901578.0
2018-03-06  93.3200  94.4900  92.9410  94.3400  22175776.0
2018-03-07  93.8600  93.9406  92.4300  93.1600  26716127.0
2018-03-08  94.4300  95.1000  93.7650  94.2700  25887828.0
2018-03-09  96.5400  96.5400  95.0000  95.2900  36937254.0
2018-03-12  96.7700  97.2100  96.0400  96.5000  26073742.0
2018-03-13  94.4100  97.2400  93.9700  97.0000  35387817.0
2018-03-14  93.8500  95.4100  93.5000  95.1200  32131981.0
2018-03-15  94.1800  94.5800  92.8300  93.5300  27610998.0
2018-03-16  94.6000  95.3800  93.9200  94.6800  49081279.0
2018-03-19  92.8900  93.9000  92.1100  93.7400  33344085.0
2018-03-20  93.1300  93.7700  93.0000  93.0500  23075240.0
2018-03-21  92.4800  94.0500  92.2100  92.9300  24457082.0
2018-03-22  89.7900  91.7500  89.6600  91.2650  38604715.0
2018-03-23  87.1800  90.4600  87.0800  89.5000  44068949.0
2018-03-26  93.7800  94.0000  90.4000  90.6100  56396780.0
2018-03-27  89.4700  95.1390  88.5100  94.9400  56569011.0
2018-03-28  89.3900  91.2300  88.8730  89.8200  52501146.0
2018-03-29  91.2700  92.2900  88.4000  90.1800  45867548.0

[1241 rows x 5 columns]

In [58]:
t.axes

[Index(['close', 'high', 'low', 'open', 'volume'], dtype='object'),
 Index(['2013-04-26', '2013-04-29', '2013-04-30', '2013-05-01', '2013-05-02',
        '2013-05-03', '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
        ...
        '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
        '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
       dtype='object', length=1241),
 Index(['MSFT', 'GOOG', 'AAPL', 'ERIC', 'AMZN'], dtype='object')]

In [60]:
t.transpose(2,1,0).to_frame()

                           MSFT         GOOG          AAPL          ERIC  \
major      minor
2014-03-27 close   3.560570e+01      558.460  7.166050e+01  1.172600e+01
           high    3.615750e+01      568.000  7.219910e+01  1.177510e+01
           low     3.558760e+01      552.920  7.134850e+01  1.165010e+01
           open    3.594950e+01      568.000  7.200110e+01  1.166790e+01
           volume  3.536917e+07    13052.000  5.550768e+07  3.562372e+06
2014-03-28 close   3.645610e+01      559.990  7.158050e+01  1.168580e+01
           high    3.675910e+01      566.430  7.185780e+01  1.178840e+01
           low     3.589520e+01      558.670  7.123250e+01  1.162780e+01
           open    3.599470e+01      561.200  7.177510e+01  1.177510e+01
           volume  4.347275e+07    41003.000  5.014106e+07  2.895757e+06
2014-03-31 close   3.708030e+01      556.970  7.156450e+01  1.190000e+01
           high    3.754160e+01      567.000  7.210710e+01  1.193570e+01
           low     3.654650e+01      556.930  7.145650e+01  1.179290e+01
           open    3.657370e+01      566.890  7.189650e+01  1.181080e+01
           volume  4.688628e+07    10772.000  4.216719e+07  3.637192e+06
2014-04-01 close   3.746920e+01      567.160  7.221910e+01  1.210540e+01
           high    3.762300e+01      568.450  7.224850e+01  1.211430e+01
           low     3.715260e+01      558.710  7.156850e+01  1.194470e+01
           open    3.722500e+01      558.710  7.170050e+01  1.196250e+01
           volume  3.261040e+07     7932.000  5.018968e+07  5.533335e+06
2014-04-02 close   3.740590e+01      567.000  7.233910e+01  1.204290e+01
           high    3.768630e+01      604.830  7.246310e+01  1.206070e+01
           low     3.724310e+01      562.190  7.203380e+01  1.190000e+01
           open    3.748730e+01      565.106  7.231650e+01  1.191790e+01
           volume  2.860727e+07   146697.000  4.479220e+07  9.109377e+06
2014-04-03 close   3.709830e+01      569.740  7.183780e+01  1.185540e+01
           high    3.735160e+01      587.280  7.233250e+01  1.203390e+01
           low     3.682700e+01      564.130  7.168450e+01  1.183750e+01
           open    3.735160e+01      569.850  7.218450e+01  1.199820e+01
           volume  3.013957e+07  5087530.000  4.064811e+07  4.990281e+06
...                         ...          ...           ...           ...
2018-03-22 close   8.979000e+01     1049.080  1.688500e+02  6.283900e+00
           high    9.175000e+01     1082.900  1.726800e+02  6.396600e+00
           low     8.966000e+01     1045.910  1.686000e+02  6.274100e+00
           open    9.126500e+01     1081.880  1.700000e+02  6.323100e+00
           volume  3.860472e+07  2666964.000  4.149077e+07  3.108053e+06
2018-03-23 close   8.718000e+01     1021.570  1.649400e+02  6.274100e+00
           high    9.046000e+01     1063.360  1.699200e+02  6.396600e+00
           low     8.708000e+01     1021.220  1.649400e+02  6.254500e+00
           open    8.950000e+01     1047.030  1.683900e+02  6.372100e+00
           volume  4.406895e+07  2156672.000  4.102878e+07  4.099330e+06
2018-03-26 close   9.378000e+01     1053.210  1.727700e+02  6.332900e+00
           high    9.400000e+01     1055.630  1.731000e+02  6.362300e+00
           low     9.040000e+01     1008.400  1.664400e+02  6.171100e+00
           open    9.061000e+01     1046.000  1.680700e+02  6.342700e+00
           volume  5.639678e+07  2665131.000  3.754124e+07  4.900332e+06
2018-03-27 close   8.947000e+01     1005.100  1.683400e+02  6.234900e+00
           high    9.513900e+01     1064.840  1.751500e+02  6.377000e+00
           low     8.851000e+01      996.920  1.669200e+02  6.200600e+00
           open    9.494000e+01     1063.000  1.736800e+02  6.362300e+00
           volume  5.656901e+07  3095315.000  4.092258e+07  2.080054e+06
2018-03-28 close   8.939000e+01     1004.560  1.664800e+02  6.234900e+00
           high    9.123000e+01     1024.230  1.700200e+02  6.318200e+00
           low     8.887300e+01      980.640  1.651900e+02  6.215300e+00
           open    8.982000e+01      998.000  1.672500e+02  6.274100e+00
           volume  5.250115e+07  3369275.000  4.166854e+07  4.607185e+06
2018-03-29 close   9.127000e+01     1031.790  1.677800e+02  6.274100e+00
           high    9.229000e+01     1043.000  1.717500e+02  6.303500e+00
           low     8.840000e+01     1002.900  1.669000e+02  6.146600e+00
           open    9.018000e+01     1011.630  1.678050e+02  6.254500e+00
           volume  4.586755e+07  2726830.000  3.839850e+07  3.100910e+06

                           AMZN
major      minor
2014-03-27 close   3.384700e+02
           high    3.439999e+02
           low     3.308800e+02
           open    3.431500e+02
           volume  5.770462e+06
2014-03-28 close   3.382900e+02
           high    3.470000e+02
           low     3.360800e+02
           open    3.400500e+02
           volume  3.986782e+06
2014-03-31 close   3.363650e+02
           high    3.462900e+02
           low     3.340600e+02
           open    3.424000e+02
           volume  4.297487e+06
2014-04-01 close   3.429900e+02
           high    3.444300e+02
           low     3.380000e+02
           open    3.380900e+02
           volume  3.602899e+06
2014-04-02 close   3.419600e+02
           high    3.482950e+02
           low     3.403800e+02
           open    3.459900e+02
           volume  4.465927e+06
2014-04-03 close   3.336200e+02
           high    3.425000e+02
           low     3.284600e+02
           open    3.418200e+02
           volume  6.399299e+06
...                         ...
2018-03-22 close   1.544920e+03
           high    1.573850e+03
           low     1.542400e+03
           open    1.565470e+03
           volume  6.320551e+06
2018-03-23 close   1.495560e+03
           high    1.549020e+03
           low     1.495360e+03
           open    1.539010e+03
           volume  8.006033e+06
2018-03-26 close   1.555860e+03
           high    1.556990e+03
           low     1.499250e+03
           open    1.530000e+03
           volume  5.624700e+06
2018-03-27 close   1.497050e+03
           high    1.575960e+03
           low     1.482320e+03
           open    1.572400e+03
           volume  6.999631e+06
2018-03-28 close   1.431420e+03
           high    1.455900e+03
           low     1.386170e+03
           open    1.447000e+03
           volume  1.370532e+07
2018-03-29 close   1.447340e+03
           high    1.455470e+03
           low     1.365200e+03
           open    1.406000e+03
           volume  1.258112e+07

[5050 rows x 5 columns]

In [62]:
t.swapaxes("items", "minor")

d:\Anaconda3\envs\py3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  if __name__ == '__main__':

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1241 (major_axis) x 5 (minor_axis)
Items axis: MSFT to AMZN
Major_axis axis: 2013-04-26 to 2018-03-29
Minor_axis axis: close to volume