In [1]:
import pandas as pd
import datetime as dt

### Review of Python's `datetime` module

In [2]:
someday = dt.date(2016,4,12)

In [3]:
someday.day

12

In [4]:
str(someday)

'2016-04-12'

In [5]:
str(dt.datetime(2010,1,10,17,13,57))

'2010-01-10 17:13:57'

### The `timestamp` object

In [6]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [7]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [8]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [9]:
pd.date_range(start="2009-10-10", periods = 100, freq="100D")

DatetimeIndex(['2009-10-10', '2010-01-18', '2010-04-28', '2010-08-06',
               '2010-11-14', '2011-02-22', '2011-06-02', '2011-09-10',
               '2011-12-19', '2012-03-28', '2012-07-06', '2012-10-14',
               '2013-01-22', '2013-05-02', '2013-08-10', '2013-11-18',
               '2014-02-26', '2014-06-06', '2014-09-14', '2014-12-23',
               '2015-04-02', '2015-07-11', '2015-10-19', '2016-01-27',
               '2016-05-06', '2016-08-14', '2016-11-22', '2017-03-02',
               '2017-06-10', '2017-09-18', '2017-12-27', '2018-04-06',
               '2018-07-15', '2018-10-23', '2019-01-31', '2019-05-11',
               '2019-08-19', '2019-11-27', '2020-03-06', '2020-06-14',
               '2020-09-22', '2020-12-31', '2021-04-10', '2021-07-19',
               '2021-10-27', '2022-02-04', '2022-05-15', '2022-08-23',
               '2022-12-01', '2023-03-11', '2023-06-19', '2023-09-27',
               '2024-01-05', '2024-04-14', '2024-07-23', '2024-10-31',
               '2025-02-08', '2025-05-19', '2025-08-27', '2025-12-05',
               '2026-03-15', '2026-06-23', '2026-10-01', '2027-01-09',
               '2027-04-19', '2027-07-28', '2027-11-05', '2028-02-13',
               '2028-05-23', '2028-08-31', '2028-12-09', '2029-03-19',
               '2029-06-27', '2029-10-05', '2030-01-13', '2030-04-23',
               '2030-08-01', '2030-11-09', '2031-02-17', '2031-05-28',
               '2031-09-05', '2031-12-14', '2032-03-23', '2032-07-01',
               '2032-10-09', '2033-01-17', '2033-04-27', '2033-08-05',
               '2033-11-13', '2034-02-21', '2034-06-01', '2034-09-09',
               '2034-12-18', '2035-03-28', '2035-07-06', '2035-10-14',
               '2036-01-22', '2036-05-01', '2036-08-09', '2036-11-17'],
              dtype='datetime64[ns]', freq='100D')

In [10]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [3]:
company = "MSFT"
start = "2017-01-01"
end = "2017-12-31"
data.DataReader(name=company, data_source="google", start=start, end=end)

d:\Anaconda3\envs\py3\lib\site-packages\pandas_datareader\google\daily.py:40: UnstableAPIWarning:
The Google Finance API has not been stable since late 2017. Requests seem
to fail at random. Failure is especially common when bulk downloading.

  warnings.warn(UNSTABLE_WARNING, UnstableAPIWarning)

RemoteDataError: Unable to read URL: https://finance.google.com/finance/historical?q=MSFT&startdate=Jan+01%2C+2017&enddate=Dec+31%2C+2017&output=csv
Response Text:
b'<html><head><meta http-equiv="content-type" content="text/html; charset=utf-8"/><title>Sorry...</title><style> body { font-family: verdana, arial, sans-serif; background-color: #fff; color: #000; }</style></head><body><div><table><tr><td><b><font face=sans-serif size=10><font color=#4285f4>G</font><font color=#ea4335>o</font><font color=#fbbc05>o</font><font color=#4285f4>g</font><font color=#34a853>l</font><font color=#ea4335>e</font></font></b></td><td style="text-align: left; vertical-align: bottom; padding-bottom: 15px; width: 50%"><div style="border-bottom: 1px solid #dfdfdf;">Sorry...</div></td></tr></table></div><div style="margin-left: 4em;"><h1>We\'re sorry...</h1><p>... but your computer or network may be sending automated queries. To protect our users, we can\'t process your request right now.</p></div><div style="margin-left: 4em;">See <a href="https://support.google.com/websearch/answer/86640">Google Help</a> for more information.<br/><br/></div><div style="text-align: center; border-top: 1px solid #dfdfdf;"><a href="https://www.google.com">Google Home</a></div></body></html>'

In [11]:
company = "MSFT"
start   = "2010-01-01"
end     = "2018-12-31"
stocks = data.DataReader(name=company, data_source="morningstar", start=start, end=end)
stocks.index = stocks.index.droplevel(0)
stocks = stocks[["Open","High","Low","Close","Volume"]]
stocks.tail()

               Open   High    Low  Close    Volume
Date
2018-04-18  96.2200  96.72  95.52  96.44  21043287
2018-04-19  96.4400  97.07  95.34  96.11  23552541
2018-04-20  95.9100  96.11  94.05  95.00  31154377
2018-04-23  95.7436  96.29  94.63  95.35  22331829
2018-04-24  96.2420  96.47  92.41  93.12  34524799

In [12]:
stocks.values
stocks.index[0]

Timestamp('2010-01-01 00:00:00')

In [13]:
stocks.loc["2014-03-04"]

Open            38.25
High            38.48
Low             38.07
Close           38.41
Volume    26868337.00
Name: 2014-03-04 00:00:00, dtype: float64

In [14]:
stocks.loc["2014-03-04" : "2014-03-11"]

             Open     High    Low  Close    Volume
Date
2014-03-04  38.25  38.4800  38.07  38.41  26868337
2014-03-05  38.26  38.2699  37.93  38.11  20520432
2014-03-06  38.11  38.2400  37.89  38.15  23605310
2014-03-07  38.36  38.3600  37.69  37.90  26596635
2014-03-10  37.97  38.0100  37.72  37.82  19007850
2014-03-11  37.83  38.2300  37.72  38.02  25218133

In [15]:
bd = pd.date_range(start="1982-09-02", end="2018-12-31", freq = pd.DateOffset(years=1))

In [16]:
stocks[stocks.index.isin(bd)]

             Open     High    Low  Close    Volume
Date
2010-09-02  23.86  23.9499  23.71  23.94  48837044
2011-09-02  25.78  26.0000  25.66  25.80  43897065
2013-09-02  33.40  33.4000  33.40  33.40         0
2014-09-02  45.43  45.4600  44.85  45.09  22976775
2015-09-02  42.36  43.3800  41.88  43.36  37671518
2016-09-02  57.67  58.1900  57.42  57.67  18900489

### `Timestamp` object attributes

In [17]:
someday = stocks.index[500]

In [19]:
someday.day
someday.weekday_name

'Friday'

In [20]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

In [21]:
stocks.head()

           Day of Week   Open   High    Low   Close    Volume
Date
2010-01-01      Friday  30.98  30.99  30.48  30.480         0
2010-01-04      Monday  30.65  31.10  30.59  30.950  38414185
2010-01-05     Tuesday  30.87  31.10  30.64  30.960  49758862
2010-01-06   Wednesday  30.88  31.08  30.52  30.770  58182332
2010-01-07    Thursday  30.61  30.70  30.19  30.452  50564285

### `.truncate()` method

In [22]:
stocks.truncate(before="2011-02-05", after ="2012-02-13")

           Day of Week   Open     High      Low    Close     Volume
Date
2011-02-07      Monday  27.83  28.3400  27.7900  28.1975   68980871
2011-02-08     Tuesday  28.10  28.3400  28.0500  28.2825   34910467
2011-02-09   Wednesday  28.18  28.2600  27.9100  27.9700   52905018
2011-02-10    Thursday  27.94  27.9400  27.2900  27.5000   76672349
2011-02-11      Friday  27.75  27.8099  27.0700  27.2500   83939643
2011-02-14      Monday  27.20  27.2700  26.9500  27.2300   56766112
2011-02-15     Tuesday  27.04  27.3300  26.9500  26.9600   44120592
2011-02-16   Wednesday  27.03  27.0700  26.6000  27.0200   70817867
2011-02-17    Thursday  26.96  27.3700  26.9100  27.2100   57211558
2011-02-18      Friday  27.18  27.2100  26.9900  27.0600   68672855
2011-02-21      Monday  27.18  27.2100  26.9900  27.0600          0
2011-02-22     Tuesday  26.73  27.1000  26.5200  26.5900   60888998
2011-02-23   Wednesday  26.55  26.8600  26.4300  26.5900   60234083
2011-02-24    Thursday  26.67  27.0600  26.5000  26.7700   64499005
2011-02-25      Friday  26.88  26.9500  26.5000  26.5500   53006263
2011-02-28      Monday  26.64  26.8600  26.5100  26.5800   51379675
2011-03-01     Tuesday  26.60  26.7800  26.1500  26.1600   60054986
2011-03-02   Wednesday  26.10  26.3700  26.0400  26.0775   48658193
2011-03-03    Thursday  26.25  26.4000  26.1800  26.2000   68271500
2011-03-04      Friday  26.21  26.2400  25.8000  25.9525   70437154
2011-03-07      Monday  26.13  26.2700  25.5500  25.7200   64987131
2011-03-08     Tuesday  25.78  26.0200  25.6500  25.9100   50555383
2011-03-09   Wednesday  25.80  25.9800  25.6600  25.8900   39792379
2011-03-10    Thursday  25.67  25.7100  25.3500  25.4100   66557502
2011-03-11      Friday  25.41  25.8500  25.3600  25.6800   49906849
2011-03-14      Monday  25.47  25.7600  25.3500  25.6900   54456558
2011-03-15     Tuesday  25.10  25.4700  25.0000  25.3900   76064201
2011-03-16   Wednesday  25.23  25.2800  24.6800  24.7900  100718988
2011-03-17    Thursday  25.06  25.2200  24.7500  24.7800   62506557
2011-03-18      Friday  25.04  25.1800  24.7979  24.8000   85486688
...                ...    ...      ...      ...      ...        ...
2012-01-03     Tuesday  26.50  26.9600  26.3900  26.7650   64735391
2012-01-04   Wednesday  26.82  27.4700  26.7800  27.4000   80519402
2012-01-05    Thursday  27.40  27.7280  27.2900  27.6800   56082205
2012-01-06      Friday  27.53  28.1900  27.5250  28.1050   99459469
2012-01-09      Monday  28.03  28.1000  27.7200  27.7400   59708266
2012-01-10     Tuesday  27.90  28.1500  27.7500  27.8400   60014333
2012-01-11   Wednesday  27.45  27.9800  27.3700  27.7200   65586477
2012-01-12    Thursday  27.87  28.0200  27.6450  28.0000   49375477
2012-01-13      Friday  27.92  28.2500  27.7900  28.2500   60204902
2012-01-16      Monday  28.25  28.2500  28.2500  28.2500          0
2012-01-17     Tuesday  28.37  28.6500  28.1700  28.2550   72395252
2012-01-18   Wednesday  28.27  28.4000  27.9700  28.2300   64860508
2012-01-19    Thursday  28.13  28.4350  28.0300  28.1200   74053427
2012-01-20      Friday  28.84  29.7400  28.7500  29.7100  165902897
2012-01-23      Monday  29.51  29.9500  29.3500  29.7300   76081814
2012-01-24     Tuesday  29.46  29.5703  29.1800  29.3400   51711367
2012-01-25   Wednesday  29.07  29.6500  29.0700  29.5600   59236267
2012-01-26    Thursday  29.61  29.7000  29.4000  29.5000   49107458
2012-01-27      Friday  29.44  29.5300  29.1700  29.2300   44190573
2012-01-30      Monday  29.00  29.6200  28.8300  29.6100   51114661
2012-01-31     Tuesday  29.66  29.7000  29.2300  29.5300   50572372
2012-02-01   Wednesday  29.76  30.0500  29.7600  29.8900   67413817
2012-02-02    Thursday  29.90  30.1700  29.7100  29.9500   52226255
2012-02-03      Friday  30.11  30.4000  30.0900  30.2400   41845397
2012-02-06      Monday  30.04  30.2200  29.9700  30.2000   28040378
2012-02-07     Tuesday  30.10  30.4850  30.0500  30.3500   39242529
2012-02-08   Wednesday  30.22  30.6700  30.2200  30.6600   49662740
2012-02-09    Thursday  30.62  30.8000  30.4800  30.7700   50481549
2012-02-10      Friday  30.65  30.8000  30.3600  30.4950   44606751
2012-02-13      Monday  30.63  30.7700  30.4300  30.5800   33322516

[266 rows x 6 columns]

### `pd.DateOffset` Objects

In [30]:
company = "MSFT"
start   = dt.date(2000,1,1)
end     = dt.datetime.now()
stocks = data.DataReader(name=company, data_source="morningstar", start=start, end=end)
stocks.index = stocks.index.droplevel(0)
stocks = stocks[["Open","High","Low","Close","Volume"]]
stocks.tail(3)

TypeError: 'numpy.int32' object is not callable

In [26]:
stocks.shape

(4777, 5)

In [28]:
stocks.index + pd.DateOffset(years=1)

DatetimeIndex(['2001-01-03', '2001-01-04', '2001-01-05', '2001-01-06',
               '2001-01-07', '2001-01-10', '2001-01-11', '2001-01-12',
               '2001-01-13', '2001-01-14',
               ...
               '2019-04-11', '2019-04-12', '2019-04-13', '2019-04-16',
               '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20',
               '2019-04-23', '2019-04-24'],
              dtype='datetime64[ns]', name='Date', length=4777, freq=None)

In [32]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31',
               ...
               '2018-04-30', '2018-04-30', '2018-04-30', '2018-04-30',
               '2018-04-30', '2018-04-30', '2018-04-30', '2018-04-30',
               '2018-04-30', '2018-04-30'],
              dtype='datetime64[ns]', name='Date', length=4777, freq=None)

In [34]:
from pandas.tseries.offsets import *

In [38]:
stocks.index -  BMonthEnd()

DatetimeIndex(['1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31',
               ...
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31'],
              dtype='datetime64[ns]', name='Date', length=4777, freq=None)

In [42]:
shipping = pd.read_csv("files/ecommerce.csv", index_col = "ID", parse_dates=["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [44]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [45]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days